.conteiner {
    margin: 0;
    padding: 20px;
    text-align: left;
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}
.conteiner a {
    text-decoration: none;
    color: white;
}
.test {
    background-color: black;
    margin: 0;
    padding: 30px 200px;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    
}
.case {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    padding-left: 60px;
    
}
.test a {
    text-decoration: none;
    color: white;
}
.headerTel {
    position: relative;
    top: 625px;
}
.headerImg {
    width: 1100px;
    background-color: black;
    
}
.headerImgBg {
    position: absolute;
    opacity: 0.7;
}